@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
body {
  font-family: 'Bree Serif';
  margin: 0;
  text-align: center;
  color: rgb(240, 240, 240); /* remove this later */

  background-color: #1d1e22;
}
#mainDiv{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#imgDiv{
 padding-top: 10%;
 padding-right: 20%;
}
.keys { 
  margin:0 auto;
  max-width: 600px;
  overflow: hidden;
  cursor: pointer;
}
.key {
  display: flex;
  flex-direction: column;
    width: 160px;
    height: 160px;
    margin: 20px;
    float: left;
    transition: all .07s;
    border-radius: 5px;
    background: rgb(240,249,255);
    background: radial-gradient(ellipse at center, rgb(149, 149, 149) 0%,rgb(44, 44, 44) 100%);
}

.btn{
  color: black;
  font-size: larger;
}

i {

  display: block;
  /* padding-top: 30px; */
  font-size: 60px;
  color: transparent;
  text-shadow: 1px 1px 2px #fff;
}
@media only screen and (max-width: 600px){
 
  #mainDiv{
    position: fixed;

    top: 30%;
    left: 40%;
    width: 400px;
    transform: translate(-50%, -50%)
  }
  #imgDiv{
    padding-top: 180%;
    padding-right: 10%;
  }
  .keys { 
    /* margin:0 auto; */
    width: 600px; 
    overflow: hidden;
    cursor: pointer;
  }
  #btnsDiv{
    padding-left: 40%;
  }
  #mainDiv h1{
    padding-right: 10%;
width: 100vh;
  }

}